@model Library.Web.ViewModels.EntityViewModels.UserViewModel

<div id="formBody" class="modal-body">
    <form id="userEdit">
        <label>Username: </label>
        <input type="text" value="@Model.Username" name="Username" />
        <br/>
        <label>Email: </label>
        <input type="text" value="@Model.Email" name="Email"/>

        <div>
            @for (var i = 0; i < Model.Roles.Count; i++)
            {
                @Html.HiddenFor(m =>m.Roles[i].Id);
                @Html.HiddenFor(m =>m.Roles[i].Name);
                @Html.CheckBoxFor(m =>m.Roles[i].IsSelected)
                @Html.LabelFor(m =>m.Roles[i].Name, $"{Model.Roles[i].Name}");
                <br/>
            }
        </div>
        <input type="hidden" name="Id" value="@Model.Id" />
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="ajaxUserEditPost()">Save</button>
</div>