@using Microsoft.AspNetCore.Identity
@using Library.Domain.Entities
@using System.Security.Claims
@model Library.Web.ViewModels.BookViewModel
@inject SignInManager<User> _signInManager


<input type="hidden" id="book-id" value="@Model.Id" />
@if (_signInManager.IsSignedIn(User))
{
    <input type="hidden" id="user-name" value="@User.Identity.Name"/>
}


<h1>@Model.Name</h1>
<span>Publisher: @Model.PublisherName</span>
<br />
<span>Publication Date: @Model.PublicationDate.ToString("d")</span>
<br />
<span>Average rating: @Model.AvgRating</span>
<br />
<input class="form-control-range" step="1" id="rating-range" type="range" min="1" max="10" />
<button onclick="addRating()">Rating</button>
<br />




<h2>Comments:</h2>
<ul data-bind="foreach: model.comments">
    <li>
        <label data-bind="text: user.username"></label>
        <br />
        <label data-bind="text: content"></label>
    </li>
</ul>

@if (_signInManager.IsSignedIn(User))
{
    <textarea id="comment-text" placeholder="Comment content"></textarea>
    <br />
    <button id="add-comment-btn" class="btn btn-success" onclick="signalComment()">AddComment</button>
}


@section Scripts
{
    <script src="~/js/Knockout.js"></script>
    <script src="~/js/ajaxRequests.js"></script>
    <script src="~/js/app/manageComments.js"></script>
    <script src="~/js/app/manageRatings.js"></script>
    <script src="~/js/Moment.js"></script>
    <script src="~/microsoft/signalr/dist/browser/dist/browser/signalr.js"></script>
    <script src="~/js/app/signalComments.js"></script>
}

